.example-form {
  padding-top: 50px;
  min-width: 150px;
  max-width: 500px;
  padding-left: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.btn{
  display: block;
  margin-top: 20px;
}

.invalid-feedback{
  color: red;
  font-size: smaller;
}

