<form name="form" class="example-form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">

  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="ID *" formControlName="id" [ngClass]="{'is-invalid':form.get('id').touched && form.get('id').invalid}">
  </mat-form-field>
  <div *ngIf="form.get('id').touched && form.get('id').invalid" class="invalid-feedback">
    <div *ngIf="form.get('id').errors.required">ID is <strong>required</strong></div>
  </div>

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="First Name" formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Last Name" formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Email " formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
  </mat-form-field>
  <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
    <div *ngIf="form.get('email').errors.email">Email must be a valid email address</div>
  </div>

  <mat-form-field>
    <mat-label>Skills</mat-label>
    <mat-select [formControl]="form.controls.skillsSet" multiple>
      <mat-option *ngFor="let skill of skillsList" [value]="skill">{{skill.s_name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn" mat-raised-button color="accent" [disabled]="!form.valid">Update Employee</button>

</form>
